scripts-prepend-node-path=true
allow-same-version=true
registry="https://registry.npm.taobao.org"
//registry="https://mirrors.huaweicloud.com/repository/npm/"
@huohua:registry="https://registry.npm.bg.huohua.cn"
ELECTRON_MIRROR="https://cdn.npm.taobao.org/dist/electron/"
ELECTRON_BUILDER_BINARIES_MIRROR=http://npm.taobao.org/mirrors/electron-builder-binaries/
// doc: https://npm.taobao.org/mirrors/
JPEGTRAN_BIN="https://npm.taobao.org/mirrors/jpegtran-bin/"
PNGQUANT_BIN="https://npm.taobao.org/mirrors/pngquant-bin/"
OPTIPNG_BIN="https://npm.taobao.org/mirrors/optipng-bin/"
